body{
    margin: 0;
    padding: 0;
    background-color: rgb(19, 33, 46);
}

.container{
    width: 500px;
    margin: auto;
    text-align: center;
    padding-top: 20rem;
}

#timer{
    font-size: 2rem;
    color: rgb(174, 0, 255);
    text-shadow: 1px 1px 2px black; 
}